.error {
  color: red;
}

.App {
margin-left: auto;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-openForm {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  background: #ff3e1c;
  color: #eee;
  font-size: 1rem;
  margin: 2rem;
  padding: .5rem 1.8rem;
  border: none;
  outline: none;
  cursor: pointer;
}

button {
margin: auto;
}

.back-drop {
  background: rgba(63, 61, 61, 0.692);
  height: 100%;
  position: fixed;
  transition: all 1.3s;
  width: 100%;
}